<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class = "main w-full min-h-screen bg-zinc-900">
   <div class = "form p-10 text-white">
      <form action="/create" method="post">
        <input class="block w-full px-5 py-2 bg-zinc-800 rounded-md outline-none" type="text" placeholder="Title goes here" name="title">
        <textarea class="block w-full mt-2 px-5 py-2 bg-zinc-800 resize-none rounded-md outline-none" placeholder="Write your task details here" name="details"></textarea>
        <input class="mt-2 bg-blue-600 px-5 py-5 rounded-md" type="submit" value="Create Task">  
    </form>
   </div>
  <!-- All the tasks have to be brought from the files folder -->
   <div class="task flex gap-3 flex-wrap p-10">
    <% if(files.length > 0){ %>     <!--  if there are files then these tasks will be there -->
     <% files.forEach(function(val){ %>
        <div class="task min-w-72 px-3 py-4 rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter">The task is <%= val %> </h1> <!-- all the data of files is first being stored in val -->
            <div class="flex w-full justify-between items-center mt-3">
              <a class="text-blue-500 inline-block" href="/files/<%= val %>">Read More</a>  <!-- now the url will have the filename which can be taken from the params of the route used as  -->
              <a class="text-zinc-600" href="/edit/<%= val %>">edit filename</a> 
            </div> 
         </div>
      <% }) %> 
    <% } else{ %>
        <h3 class="text-zincs-600">No task yet.</h3>
    <% } %>
   </div>
 </div>
</body>
</html>